td{
	padding:10px;
}

h1{
	text-align:center;
	color:yellow;
}

span,thead{
	color:white;
}

table{
	margin:0 auto;
	border:1px solid black;
}

container{
	height:300px;
}

.one{
	/* margin:0 auto; */
	text-align:center;
	padding:10px;
	border:2px solid black;
}

td a{
	color:pink;
}

body{
	color:brown;
	background: #304352;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.someclass{
	color:blue;
	background:yellow;
}